<!-- About Page created by Han -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="page-bg">
    <div class="mobile-wrapper">
        <!-- Top bar -->
         <div class="top-bar">
            <a href="/" class="top-btn">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-img">
            </a>
            <a href="/login" class="top-btn">LOGIN</a>
        </div>
        <!-- About header -->
         <div class="page-header">
            <h1>ABOUT US</h1>
        </div>
        <!-- Placeholder image box -->
         <div class="placeholder-box">
            <img src="{{ url_for('static', filename='images/What-is-Mental-Health.jpeg') }}" class="placeholder-img">
        </div>
        <!-- Mission Statement section, updated by Aki -->
         <div class="page-content">
            <h2 class="section-title">MISSION STATEMENT</h2>
            <p class="mission-subtext">
                 Our mission is to create a safe, supportive digital space where individuals can explore their wellbeing, express their emotions, and access tools that encourage balance, reflection, and personal growth. We aim to empower users with simple, accessible resources that promote mental clarity, emotional awareness, and everyday resilience. Together let's become our best selves!
            </p>

        </div>
        <!-- Back button -->
         <a href="/" class="feature-btn">Back to Home</a>
        </div>
</body>
</html>
