<!-- Login Page created by Aki-->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="page-bg">

    <div class="mobile-wrapper">

    <!-- Top bar -->
    <div class="top-bar">
        <a href="/" class="top-btn">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-img">
        </a>
        <a href="/login" class="top-btn">LOGIN</a>
    </div>

    <!-- Login / Sign Up header -->
    <div class="page-header">
        <h1>LOGIN</h1>
    </div>

    <!-- Placeholder input boxes edited by Han -->
    <form action="login" method="POST">
        <!-- Username / Email-->
        <div class="placeholder-box tall">
            <input type="text" class="input-field" placeholder="Username / Email" name="email" required>
        </div>
        <!-- Password -->
        <div class="placeholder-box tall">
            <input type="password" class="input-field" placeholder="Password" name="password" required>
        </div>

        <!-- Login button -->
        <button type="submit" class="placeholder-action login-btn">LOGIN</button>
    </form>

    <!-- Admin Login-->
    <a href="/admin_login" class="placeholder-action link-btn">Admin Login</a>

    <!-- Register button -->
    <a href="/register" class="placeholder-action link-btn">REGISTER / SIGN UP</a>

    <!-- Back button -->
    <a href="/" class="feature-btn">Back to Home</a>
    </div>
</body>
</html>
