<!-- Mood Page created by Aki -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood Journal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="page-bg">

<div class="mobile-wrapper">

    <!-- Top bar -->
    <div class="top-bar">
        <a href="/" class="top-btn">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-img">
        </a>
        <a href="/login" class="top-btn">LOGIN</a>
    </div>

    <!-- Page header -->
    <div class="page-header">
        <h1>MOOD JOURNAL</h1>
    </div>

    <!-- Mood circle container, updated by Han -->
    <form action="/add_mood" method="post" class="mood-circle">
        <button type="submit" name="mood_label=" value="happy" class="mood-box mood1">😄HAPPY</button>
        <button type="submit" name="mood_label=" value="sad" class="mood-box mood2">😢SAD</button>
        <button type="submit" name="mood_label=" value="angry" class="mood-box mood3">😠ANGRY</button>
        <button type="submit" name="mood_label=" value="anxious" class="mood-box mood4">😌CALM</button>
        <button type="submit" name="mood_label=" value="excited" class="mood-box mood5">🤩EXCITED</button>
        <button type="submit" name="mood_label=" value="tired" class="mood-box mood6">😴TIRED</button>
    </form>

    <!-- Submit button -->
    <div class="submit-placeholder">
        <p>SUBMIT MOODS TO JOURNAL</p>
    </div>

    <!-- Back button -->
    <a href="/" class="feature-btn">Back to Home</a>

</div>

</body>
</html>
