<!-- Q&A Forum Page created by Aki -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A Forum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="page-bg">

<div class="mobile-wrapper">

    <!-- Top bar -->
    <div class="top-bar">
        <a href="/" class="top-btn">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-img">
        </a>
        <a href="/login" class="top-btn">LOGIN</a>
    </div>

    <!-- Page header -->
    <div class="page-header">
        <h1>Q&A FORUM</h1>
    </div>

    <!-- Ask a Question List Form by Han -->
     <div class="question-form">
        <form id="questionForm">
            <textarea class="typing-box2" name="question" placeholder="Type your question..." required></textarea>
             <button type="submit" class="placeholder-action login-btn">SUBMIT QUESTION</button>
        </form>
    </div>

    <!-- Placeholder for questions and answers -->
    <div class="question-list">
        
    </div>


    <!-- Back button -->
    <a href="/" class="feature-btn">Back to Home</a>

</div>
<script>
    const userRole = "{{ role }}"
</script>
<script src="{{ url_for('static', filename='js/QAforum.js') }}"></script>

</body>
</html>

