<!-- Register Page created by Han -->
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body class="page-bg">

<div class="mobile-wrapper">

    <!-- Top bar -->
    <div class="top-bar">
        <a href="/" class="top-btn">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-img">
        </a>
        <a href="/login" class="top-btn">LOGIN</a>
    </div>

    <!-- Register header -->
    <div class="page-header">
        <h1>REGISTER</h1>
    </div>

    <!-- Input fields -->
    <form action="register" method="POST">
        <!-- Username -->
         <div class="placeholder-box tall">
            <input type="text" class="input-field" placeholder="Fullname" name="Fullname" required>
        </div>
        <!-- Age -->
         <div class="placeholder-box tall">
            <input type="text" class="input-field" placeholder="Age" name="Age" required>
        </div>
        <!-- Gender -->
         <div class="placeholder-box tall gender-box">
            <label class="gender-label">Gender</label>
            <div class="gender-options">
                <label class="gender-option">
                    <input type="radio" name="gender" value="male" required>
                    <span class="custom-radio"></span>
                    Male
                </label>
                <label class="gender-option">
                    <input type="radio" name="gender" value="female" required>
                    <span class="custom-radio"></span>
                    Female
                </label>
            </div>
        </div>        
        <!-- Contact Details -->
         <div class="placeholder-box tall">
            <input type="text" class="input-field" placeholder="Contact Details" name="contact" required>
         </div>
        <!-- Email -->
         <div class="placeholder-box tall">
            <input type="email" class="input-field" placeholder="Email / Login" name="email" required>
        </div>
        <!-- Password -->
         <div class="placeholder-box tall">
            <input type="password" class="input-field" placeholder="Password" name="password" required>
        </div>
        <!-- Confirm Password -->
         <div class="placeholder-box tall">
            <input type="password" class="input-field" placeholder="Confirm Password" name="confirm_password" required>
        </div>

        <!-- Create Account button -->
         <div class="placeholder-box tall">
            <button type="submit" class="placeholder-action login-btn">CREATE ACCOUNT</button>
         </div>

    <!-- Back button -->
    <a href="/" class="feature-btn">Back to Home</a>
  </div>
</body>
</html>

